{% extends 'layout.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Иро́ния (от др.-греч. εἰρωνεία «притворство») — сатирический приём, в котором истинный смысл скрыт или противоречит (противопоставляется) явному смыслу; вид тропа: выражающее насмешку лукавое иносказание, когда в контексте речи слова употребляются в смысле, противоположном их буквальному значению. При этом обозначаемый с помощью иронии объект высмеивается, ставится под сомнение, сатирически разоблачается и отрицается под маской похвалы и одобрения.</p>

    </div>
{% endblock %}